.customCard, .QuestionsDivShow {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: auto;
    padding: 10px;
}
    .customBtn {
        background-color: purple;
        color: white !important;
        border: none;
    }

.QuestionsDivHide {
    display: none;
}


.StartCardDivHide {
    display: none;
}

.questions-Container {
    width: 345px;
    text-align: left !important;
}

